<div class="filter-container">
  <button class="filter-btn" (click)="isOpen = !isOpen">
    Filters

    <span class="material-icons"> tune </span>
  </button>

  @if (isOpen) {
    <div class="filter-dropdown">
      <!-- <div class="filter-section">
        <h4>Categories</h4>

        <label>
          <input type="checkbox" />
          Oversized
        </label>

        <label>
          <input type="checkbox" />
          Graphic
        </label>

        <label>
          <input type="checkbox" />
          Essentials
        </label>
      </div> -->

      <div class="filter-section">
        <h4>Price</h4>

        <label>
          <input
            name="price"
            value="under999"
            type="radio"
            [checked]="selectedPrice === 'under999'"
            (change)="applyFilter('under999')"
          />
          Under ₹999
        </label>

        <label>
          <input
            name="price"
            value="999-1499"
            type="radio"
            [checked]="selectedPrice === '999-1499'"
            (change)="applyFilter('999-1499')"
          />
          ₹999 - ₹1499
        </label>

        <label>
          <input
            name="price"
            value="1500-1999"
            type="radio"
            [checked]="selectedPrice === '1500-1999'"
            (change)="applyFilter('1500-1999')"
          />
          ₹1500 - ₹1999
        </label>
        <label>
          <input
            value="above2000"
            type="radio"
            [checked]="selectedPrice === 'above2000'"
            (change)="applyFilter('above2000')"
            name="price"
          />
          Above ₹2000
        </label>
        <label>
          <input
            value="removeFilter"
            type="radio"
            [checked]="selectedPrice === 'removeFilter'"
            (change)="applyFilter('removeFilter')"
            name="price"
          />
          Remove Filter
        </label>
      </div>

      <!-- <div class="filter-section">
        <h4>Size</h4>

        <label>
          <input type="checkbox" />
          S
        </label>

        <label>
          <input type="checkbox" />
          M
        </label>

        <label>
          <input type="checkbox" />
          L
        </label>

        <label>
          <input type="checkbox" />
          XL
        </label>
      </div> -->
    </div>
  }
</div>
