<div class="products-list-container">
  <app-product-search
    (searchChanged)="updateProducts($event)"
  ></app-product-search>
  <div class="filter-sort-container">
    <app-product-filter (filterChanged)="applyFilter($event)">
    </app-product-filter>

    <app-product-sort (sortChanged)="applySort($event)"> </app-product-sort>
  </div>
  <div class="product-list-container">
    @for (product of filteredProducts; track product.id) {
      <app-product-card [product]="product" (click)="goToProduct(product.id)">
      </app-product-card>
    }
  </div>
</div>

<!-- filter empty dialog -->
<app-dialog-box
  title="Hi User"
  [isOpen]="isFilterDialogOpen"
  (closed)="onDialogClose()"
>
  <p>No products in the selected price range.</p>

  <div class="dialog-actions">
    <button (click)="onDialogClose()">okay</button>
  </div>
</app-dialog-box>

<!-- search empty dialog -->
<app-dialog-box
  title="Hi User"
  [isOpen]="isSearchDialogOpen"
  (closed)="onDialogClose()"
>
  <p>No available products !</p>

  <div class="dialog-actions">
    <button (click)="onDialogClose()">okay</button>
  </div>
</app-dialog-box>
