<section class="collections">
  <div class="container">
    <div class="section-header">
      <span class="section-tag"> COLLECTIONS </span>

      <h2>Shop By Collection</h2>

      <p>Discover premium styles crafted for everyday confidence.</p>
    </div>

    <div class="collections-grid">
      <div class="collection-card">
        <a href="/products">
          <img src="assets/categories1.jpeg" alt="Oversized Tees" />
        </a>

        <!-- <div class="overlay">
          <h3>Oversized Tees</h3>
        </div> -->
      </div>

      <div class="collection-card">
        <a href="">
          <img src="assets/categories2.jpeg" alt="Graphic Tees" />
        </a>

        <!-- <div class="overlay">
          <h3>Graphic Tees</h3>
        </div> -->
      </div>

      <div class="collection-card">
        <a href="/products">
          <img src="assets/categories3.jpeg" alt="Essentials" />
        </a>

        <!-- <div class="overlay">
          <h3>Essentials</h3>
        </div> -->
      </div>

      <div class="collection-card">
        <a href="/products">
          <img src="assets/categories4.jpeg" alt="Premium Collection" />
        </a>

        <!-- <div class="overlay">
          <h3>Premium Collection</h3>
        </div> -->
      </div>
    </div>
  </div>
</section>
