<header class="navbar">
  <div class="navbar-container container">
    <!-- Mobile Menu -->

    <button
      class="menu-btn"
      aria-label="Menu"
      (click)="isMenuOpen = !isMenuOpen"
    >
      <span class="material-icons"> menu </span>
    </button>

    <!-- Logo -->

    <div class="logo">
      <a routerLink="/"> atomics</a>
    </div>

    <!-- Actions -->

    <div class="nav-actions">
      <button class="cart-btn" aria-label="Cart">
        <span class="material-icons"> home </span>
      </button>

      <button class="cart-btn" aria-label="Profile">
        <span class="material-icons"> account_circle </span>
      </button>

      <button class="cart-btn" aria-label="Cart">
        <span class="material-icons"> shopping_cart </span>
      </button>
    </div>
  </div>
</header>

<!-- Overlay -->
@if (isMenuOpen) {
  <div class="overlay" (click)="isMenuOpen = false"></div>
}

<!-- Drawer -->

<aside class="mobile-drawer" [class.open]="isMenuOpen">
  <div class="drawer-arrow-container">
    <button class="close-btn" (click)="isMenuOpen = false">
      <span class="material-icons"> chevron_left </span>
    </button>
  </div>

  <div class="drawer-header">
    <div class="drawer-profile-container">
      <button class="cart-btn sidenav-profile-icon" aria-label="Profile">
        <span class="material-icons"> account_circle </span>
      </button>
      <h2>Shabareenath</h2>
    </div>
  </div>

  <nav class="drawer-nav">
    <a routerLink="/" (click)="isMenuOpen = false"> Home </a>

    <a routerLink="/products" (click)="isMenuOpen = false"> Shop </a>

    <a routerLink="/categories" (click)="isMenuOpen = false"> Categories </a>

    <a routerLink="/orders" (click)="isMenuOpen = false"> Orders </a>

    <a routerLink="/profile" (click)="isMenuOpen = false"> Profile </a>

    <a routerLink="/cart" (click)="isMenuOpen = false"> Cart </a>
  </nav>
</aside>
