<section class="hero">
  <div class="container hero-container">
    <div class="hero-content">
      <div class="hero-image">
        <a href="/products">
          <img src="assets/hero-banner1.png" alt="Atomics Fashion Collection" />
        </a>
      </div>
      <span class="hero-tag"> NEW COLLECTION 2026 </span>

      <h1>Built For Everyday Confidence</h1>

      <p>
        Premium oversized essentials crafted for comfort, style and confidence.
      </p>

      <div class="hero-actions">
        <a href="/products">
          <button class="btn-primary">Explore</button>
        </a>
        <a href="#offers-banner">
          <button class="btn-secondary">Offers</button>
        </a>
      </div>
    </div>
  </div>
</section>
