@use "../../../../styles/mixins" as *;

.footer {
  margin-top: 4rem;
  padding: 0 24px;
  background: var(--bg-secondary);

  border-top: 1px solid var(--border-primary);
}

.footer-container {
  display: grid;

  gap: 1rem;

  padding: 10px 0;

  @include tablet {
    grid-template-columns: 1fr;
  }
}

.footer-brand {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  .footer-brand-name {
    font-size: medium;
  }

  p {
    color: var(--text-secondary);
  }
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

  a {
    color: var(--text-secondary);
    font-size: 1.2rem;

    transition: 0.2s ease;
  }

  a:hover {
    color: var(--text-primary);
  }
}
.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  @include mobile {
    grid-template-columns: 1fr;
  }
}

.footer-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 0.75rem;

  h4 {
    margin-bottom: 0.5rem;

    color: var(--text-primary);
  }

  a {
    font-size: 0.7rem;
    color: var(--text-secondary);

    text-decoration: none;

    transition: 0.2s ease;
  }

  a:hover {
    color: var(--text-primary);
  }
}

.footer-bottom {
  padding: 10px;

  border-top: 1px solid var(--border-primary);

  text-align: center;

  p {
    color: var(--text-muted);

    font-size: 0.9rem;
  }
}
