.footer {
  background: #111;
  color: #fff;
  margin-top: 5rem;
}

.footer-container {
  max-width: 1400px;
  margin: auto;

  padding: 4rem 2rem;

  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.footer-brand {
  max-width: 350px;
}

.footer-brand h2 {
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.footer-links {
  display: flex;
  gap: 5rem;
}

.footer-links div {
  display: flex;
  flex-direction: column;
}

.footer-links h4 {
  margin-bottom: 1rem;
}

.footer-links a {
  color: #bdbdbd;
  text-decoration: none;
  margin-bottom: 0.6rem;
}

.footer-links a:hover {
  color: white;
}

.footer-bottom {
  text-align: center;
  padding: 1rem;
  border-top: 1px solid #2a2a2a;
}
