<form #productForm="ngForm" (ngSubmit)="addToCart()">
  <section class="product-details">
    <div class="product-layout">
      <div class="product-gallery">
        <img src="assets/featured1.jpeg" alt="Oversized Black Tee" />
      </div>

      <div class="product-info">
        <h1>{{ product.name }}</h1>

        <div class="rating">⭐ {{ product.rating }}</div>

        <div class="price">₹{{ product.price }}</div>

        <p class="description">
          Premium oversized essential crafted for comfort and everyday
          confidence.
        </p>

        <div class="sizes">
          <label class="size-btn">
            <input
              type="radio"
              name="size"
              value="S"
              [(ngModel)]="selectedSize"
            />
            S
          </label>

          <label class="size-btn">
            <input
              type="radio"
              name="size"
              value="M"
              [(ngModel)]="selectedSize"
            />M
          </label>

          <label class="size-btn">
            <input
              type="radio"
              name="size"
              value="L"
              [(ngModel)]="selectedSize"
            />
            L
          </label>

          <label class="size-btn">
            <input
              type="radio"
              name="size"
              value="XL"
              [(ngModel)]="selectedSize"
            />
            XL
          </label>
        </div>
        <div class="quantity">
          <div class="quantity-controls">
            <button type="button" (click)="decreaseQuantity()">-</button>

            <input name="quantity" [(ngModel)]="quantity" min="1" />

            <button type="button" (click)="increaseQuantity()">+</button>
          </div>
        </div>
        <div class="actions">
          <button type="submit" class="add-cart-btn">Add To Cart</button>

          <button type="submit" class="buy-now-btn" (click)="buyNow()">
            Buy Now
          </button>
        </div>
      </div>
    </div>
    <app-related-products></app-related-products>
  </section>
</form>
