@use "./styles/theme";
@use "./styles/reset";
@use "./styles/typography";
@use "./styles/utilities";
@use "./styles/components";
@use "./styles/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
