@for (user of users; track user.id) {
  <section class="profile-page">
    <div class="profile-card">
      <div class="profile-avatar">
        <span>{{ user.name.charAt(0) }}</span>
      </div>

      <h2>{{ user.name }}</h2>

      <p>{{ user.email }}</p>

      <p>{{ user.phone }}</p>
    </div>
    a
    <div class="profile-menu">
      <a href="/orders">
        <button>My Orders</button>
      </a>
      <a href="profile/wishlist">
        <button>Wishlist</button>
      </a>
      <a href="profile/addresses">
        <button>Addresses</button>
      </a>
      <a href="profile/settings">
        <button>Account Settings</button>
      </a>
      <a href="">
        <button class="logout-btn">Logout</button>
      </a>
    </div>
  </section>
}
